[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_bin

slow_query_log=ON
long_query_time = 1
slow_query_log_file = /var/log/mysql2/mysql-slow.log
log-error = /var/log/mysql2/mysql-error.log

general_log = 1
general_log_file = /var/log/mysql2/mysql-query.log

performance_schema=0
table_definition_cache=400

[mysql]
default-character-set = utf8mb4

[client]
default-character-set=utf8mb4

